<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="D:\Documents\GitHub\ConsensysGRPCAPI\Java\grpcprotosrc\ExternalTools\protoc-3.13.0-win64\protoc.exe"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-I=D:\Documents\GitHub\ConsensysGRPCAPI\Java\grpcprotosrc\ --java_out=D:\Documents\GitHub\ConsensysGRPCAPI\Java\grpcprotosrc\gen --plugin=protoc-gen-grpc-java=D:\Documents\GitHub\ConsensysGRPCAPI\Java\grpcprotosrc\ExternalTools\protoc-gen-grpc-java\protoc-gen-grpc-java-1.32.1-windows-x86_64.exe --grpc-java_out=D:\Documents\GitHub\ConsensysGRPCAPI\Java\grpcprotosrc\gen D:\Documents\GitHub\ConsensysGRPCAPI\Java\grpcprotosrc\src\NeuroHomeService_v1.3.0.proto"/>
</launchConfiguration>
