<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="D:\Documents\GitHub\ConsensysGRPCAPI\Java\grpcprotosrc\ExternalTools\protoc-3.13.0-win64\protoc.exe"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-I=D:\Documents\GitHub\ConsensysGRPCAPI\Java\grpcprotosrc\ --csharp_out=D:\Documents\GitHub\ConsensysGRPCAPI\Java\grpcprotosrc\gen --grpc_out=D:\Documents\GitHub\ConsensysGRPCAPI\Java\grpcprotosrc\gen --plugin=protoc-gen-grpc=D:\Documents\GitHub\ConsensysGRPCAPI\Java\grpcprotosrc\ExternalTools\Grpc.Tools.2.32.0\tools\windows_x64\grpc_csharp_plugin.exe D:\Documents\GitHub\ConsensysGRPCAPI\Java\grpcprotosrc\src\ConsensysService_v0.0.1.proto"/>
</launchConfiguration>
